<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista delle Squadre</title>
    <link rel="stylesheet" href="/CSS/lista.css">

</head>
<body>
<nav class="navbar">
    <div class="navbar__container">
        <div class="navbar__logo">
            <a href="/">
                <img src="/Image/logo.png" alt="logo" class="logo" />
                Siw-Federation
            </a>
        </div>
        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__btn" th:if="${authentication == null}">
                <a href="/login" class="button"> login  </a>            </li>
            <li class="navbar__btn" th:if="${authentication == null}">
                <a href="/register" class="button"> registration  </a>            </li>
            <li class="navbar__btn" th:if="${authentication != null}">
                <a href="/Account" class="button"> account  </a>            </li>
        </ul>
    </div>
</nav>

<h1>Squadre</h1>

<ul class="squadre-list">
    <li class="squadra-item" th:each="squadra : ${squadre}">
        <span class="squadra-name" th:text="${squadra.nome}">Nome della Squadra</span>
        <form th:action="@{/squadre/modifica/{id}(id=${squadra.id})}" method="get">
            <button type="submit" class="squadra-button">Modifica</button>
        </form>
    </li>
</ul>
<div class="footer__container">
    <div class="footer__links">
        <div class="footer__links--wrapper">
            <div class="footer__links--items">
                <h2>about Us</h2>
                <a href="/static">ow it works</a>
                <a href="/static">explore</a>
                <a href="/static">gigi</a>
                <a href="/static">dai</a>
                <a href="/static">term</a>
            </div>
            <div class="footer__links--items">
                <h2>about Us</h2>
                <a href="/static">ow it works</a>
                <a href="/static">explore</a>
                <a href="/static">gigi</a>
                <a href="/static">dai</a>
                <a href="/static">term</a>
            </div>
        </div>
        <div class="footer__links--wrapper">
            <div class="footer__links--items">
                <h2>about Us</h2>
                <a href="/static">ow it works</a>
                <a href="/static">explore</a>
                <a href="/static">gigi</a>
                <a href="/static">dai</a>
                <a href="/static">term</a>
            </div>
            <div class="footer__links--items">
                <h2>about Us</h2>
                <a href="/static">ow it works</a>
                <a href="/static">explore</a>
                <a href="/static">gigi</a>
                <a href="/static">dai</a>
                <a href="/static">term</a>
            </div>
        </div>
    </div>
    <div class="social__media">
        <div class="social__media--wrap">
            <div class="footer__logo">
                <a href="/static" id="footer__logo"><i class="fas faa-gem"></i>NEXT</a>
            </div>
            <p class="website__right">next all right reserved</p>
            <div class="social__icons">
                <a href="/static" class="social__icons--link" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="/static" class="social__icons--link" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="/static" class="social__icons--link" target="_blank">
                    <i class="fa-brands fa-airbnb"></i>
                </a>
                <a href="/static" class="social__icons--link" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
